.get-started {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  padding: 12px 24px;
  border-radius: 30px;
  background-color: rgb(34, 32, 32); /* dark background */
  background-clip: padding-box;
  z-index: 1;

  color: white;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.get-started::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  padding: 2px;
  background: linear-gradient(to right, orange, red);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  transition: all 0.3s ease;
}

.get-started:hover {
  background-color: white;
  color: #222;
  border: 2px solid white;
}

.get-started:hover::before {
  background: white;
  -webkit-mask: none;
  mask: none;
}
.page {
  background-color: rgb(34, 32, 32);
  min-height: 110vh;
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;      /* Center vertically */
  gap: 1rem;                /* Add space between buttons */
}
.title, .subtitle {
  text-align: center;
  margin: 5% auto; /* auto centers horizontally */
  padding: 2px;
  font-size: 60px;
  white-space: nowrap;
}

.title {
  background: linear-gradient(to right, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10%;
  background-clip: text;
  color: transparent;
}

.subtitle {
  margin-top: -4%;
  background: white;
  font-size: 45px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.nav-items, .nav-title{
  display: flex;
  align-items: center;
  gap: 20px;
}