  .navbar {
    background-color: rgb(34, 32, 32); /* changed from white to black */
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: clamp(30px, 5vw, 150px);
    height: auto;
  }

  .user {
    padding: 1.5rem;
    background-color: grey;
    font-size: 1rem;
  }

  .username {
    font-size: 17px;
    margin-top: 4px;
  }
  /* Set all navbar text to white */
  .cc, .nav-item {
    color: white; /* changed from black to white */
    font-size: 1.5rem;
    padding: 5px 20px;
    text-decoration: none;
  }
  .nav-item:hover{
    color: white;
    background: linear-gradient(to right, orange, orangered, red);
    padding: 5px 20px;
    border-radius: 5px;
  }
  .nav-dropdown {
    width: 172px;
  }

  .flex {
    /* background-color: black;  */
    /* adds a nice look lowkey */
  }
  .create-events:hover{
    background-color: black;
    color: white;
  }